body{}

@media screen and (max-width: 800px) {
	body{
		background-color: green;
	}
}


/**************
break points
***************/
@media only screen and (max-width : 320px) {

body{
		background-color: blue;
	}

}

@media only screen and (min-width : 480px) {

body{
		background-color: red;
	}

}

@media only screen and (min-width : 768px) {

body{
		background-color: orange;
	}

}

@media only screen and (min-width : 1024px) {

body{
		background-color: white;
	}

}

@media only screen and (min-width : 1440px) {

body{
		background-color: green;
	}

}


/**************
Media Queries
***************/

@media screen and (max-height: 400px){
#header{
	font-size: 08.em;
	margin: 10px 0;
}

#nav{
	margin: 20px 0;
	font-size: 0.8em;
}
}